# Introduction to python
* Assigning variables, data types, operators, and functions

## Assigning variables

In [1]:
name = 'Jantje'
age = 42
weight = 78.5

In [2]:
age

42

In [3]:
type(age)

int

In [4]:
type(name)

str

In [5]:
type(weight)

float

## Operators

In [6]:
2 + 2

4

In [7]:
6 * 7

42

In [8]:
2 ** 16

65536

### Logic operators and statements of identity

In [9]:
3 > 4

False

In [12]:
5 > 3 and 2 > 3

False

In [13]:
True or False

True

In [15]:
# This works, but it is not according to style
3>4

False

## Sequences: Lists and Tuples

### Lists

In [16]:
numbers = [1, 2, 3]

In [17]:
numbers

[1, 2, 3]

In [19]:
numbers[3]

IndexError: list index out of range

In [22]:
# A for loop accesses elements in a list one at a time
for number in numbers:
    print('This is printed')
    print(number)
print('This is the end')

This is printed
1
This is printed
2
This is printed
3
This is the end

In [23]:
# Add stuff to lists
numbers.append(4)

In [24]:
numbers

[1, 2, 3, 4]

In [25]:
numbers # Hit Shift + Tab for help

[1, 2, 3, 4]

In [26]:
numbers?

Type:        list
String form: [1, 2, 3, 4]
Length:      4
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

### Tuples
Tuple is like a list, but they cannot be changed once they are created (they ar 'immutable').

In [27]:
numbers = [1, 2, 3]

In [28]:
a_tuple = (1, 2, 3)

In [29]:
another_tuple = ('blue', 'green', 'red')

In [30]:
a_list = [1, 'blue', 34.5]

In [31]:
a_list

[1, 'blue', 34.5]

In [32]:
type(a_list)

list

In [33]:
type(a_list[0])

int

In [34]:
type(a_list[1])

str

## Exercise: Tuples vs. Lists
1. What happens when you execute a_list[1] = 5?
2. What happens when you execute a_tuple[2] = 5?
3. What does type(a_tuple) tell you about a_tuple?}

In [41]:
a_list[1] == 5 # == is the equals operator

True

In [37]:
a_list[1] = 5 # = assignment operator

In [39]:
a_list

[1, 5, 34.5]

In [43]:
a_tuple[2] = 5

TypeError: 'tuple' object does not support item assignment

This is some python code
```python
type(a_tuple)
```

In [44]:
type(a_tuple)

tuple

## Dictionaries
A dictionary is a container that holds pairs of objects - keys and values

In [45]:
# A mapping of a number ('one') to its rank ('first')
translation = {'one': 'first', 'two': 'second'}

In [46]:
translation['one']

'first'

In [52]:
# Mapping a rank ('first') to its number ('one')
rev = {'first': 'one', 'second': 'two'}

In [53]:
rev['first']

'one'

In [54]:
# Adding values to dictionaries
rev['third'] = 'three'

In [55]:
rev

{'first': 'one', 'second': 'two', 'third': 'three'}

In [ ]:
# For loop for a list
for number in numbers:
    print(number)

In [57]:
# Using for loops with dictionaries
for key, value in rev.items():
    print(key, '->', value)

first -> one
second -> two
third -> three

In [59]:
# Only loop through keys:
for key in rev.keys():
    print(key, '->', rev[key])

first -> one
second -> two
third -> three

In [60]:
del rev['first']

In [62]:
rev['second']

'two'

In [63]:
answer_mapping = {'M': 1, 'F': 0}

In [64]:
answer_mapping['M']

1

In [65]:
settings = {'muted': True, 'use_camera': False}

In [66]:
settings['muted']

True

## Exercise: Changing dictionaries
1. First, print the values of the rev dictionary to the screen.
2. Reassign the value that corresponds to the key `second` so that it no longer reads “two” but instead 2.
3. Print the value of rev to the screen again to see if the value has changed.

In [68]:
# Using for loops with dictionaries
for key, value in rev.items():
    print(value)

two
three

In [69]:
for value in rev.values():
    print(value)

two
three

In [71]:
rev['second'] = 2 # Assign the value 2 to the key 'second' in rev dict

In [72]:
for value in rev.values():
    print(value)

2
three

## Functions

In [73]:
def add(a, b):
    result = a + b
    return result

In [74]:
type(add)

function

In [79]:
add(20, 22)

42

In [81]:
print(42)

42

In [82]:
magic_number = add(20, 5)

In [83]:
magic_number

25

In [84]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [85]:
print(2)

2

In [86]:
a_list = [1, 2, 3]
a_list.append(5)

In [87]:
a_list

[1, 2, 3, 5]

In [88]:
a_list[2] = 'hello'

In [89]:
a_list

[1, 2, 'hello', 5]

In [90]:
a_list.insert?

Signature: a_list.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [91]:
a_list.insert(2, 'inserted')

In [92]:
a_list

[1, 2, 'inserted', 'hello', 5]