## Loops and functions

In [1]:
animals = ['tiger', 'lion', 'crocodile', 'hippo']
print(animals)

['tiger', 'lion', 'crocodile', 'hippo']

In [2]:
for animal in animals:
    print(animal)

tiger
lion
crocodile
hippo

In [7]:
# Pass means we do nothing
for a in animals:
    pass
print(a)

hippo

#### Looping exercise 
1. What happens if we don’t include the pass statement?

2. Rewrite the loop so that the animals are separated by commas, not new lines (Hint: You can concatenate strings using a plus sign. For example, `print(string1 + string2)` outputs `string1string2`

In [9]:
animals_str = ''
for animal in animals:
    animals_str = animals_str + animal + ','
print(animals_str[:-1])

tiger,lion,crocodile,hippo

In [11]:
animals_str = ','.join(animals)
print(animals_str)

tiger,lion,crocodile,hippo

In [12]:
import os

In [13]:
# Create dir for yearly files
os.mkdir('../data/output/yearly_files')

In [15]:
import pandas as pd
# Read in surveys
surveys_df =pd.read_csv('../data/raw/surveys.csv')

In [16]:
# Select 2002 data
surveys2002 = surveys_df[surveys_df['year']==2002]

# write it to csv file
surveys2002.to_csv('../data/output/yearly_files/surveys2002.csv')

In [17]:
years = surveys_df['year'].unique()
years

array([1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002], dtype=int64)

In [19]:
for year in years:
    # Subset the data
    surveys_sub = surveys_df[surveys_df['year']==year]
    
    # Define the filename
    filename = '../data/output/yearly_files/surveys'+str(year)+'.csv'
    
    # Save the file
    surveys_sub.to_csv(filename)

## Exercise:
1. Modify the for loop to exclude data that contains null values
2. Let’s say you only want to look at data from a given multiple of years. How would you modify your loop in order to generate a data file for only every 5th year, starting from 1977? Hint: use pythons built-in range function
3. Instead of splitting out the data by years, a colleague wants to do analyses each species separately. How would you write a unique CSV file for each species?

In [20]:
# To exclude null values:
for year in years:
    # Subset the data
    surveys_sub = surveys_df[surveys_df['year']==year]
    surveys_sub_nona = surveys_sub.dropna()
    
    # Define the filename
    filename = '../data/output/yearly_files/surveys'+str(year)+'.csv'
    
    # Save the file
    surveys_sub_nona.to_csv(filename)

In [23]:
my_range = range(1, 11, 2)
print(my_range)

range(1, 11, 2)

In [24]:
for x in my_range:
    print(x)

1
3
5
7
9

In [28]:
min_year = surveys_df['year'].min()
max_year = surveys_df['year'].max()
year_range = range(min_year, max_year+1, 5)

for year in year_range:
    print(year)

1977
1982
1987
1992
1997
2002