#### Exercise 1: when to use tuples, lists, dictionaries
For the following data write down what data structure you would use: a tuple, list, or dictionary to represent the data.
1. Storing the favourite superpowers of the people in this class when later in our notebook we need to be able to answer: what is `name`'s favourite superpower?
2. A point in 2D space (i.e. with x and y coordinate)
3. The names of people in this class
4. (optional) The age and weight of people in this class, so we can later ask what is `name`'s age and weight?

In [1]:
superpowers = ['flying', 'timetravel']

In [2]:
superpowers = {'sven': 'flying', 'hanno': 'moving-at-great-speed'}

In [3]:
superpowers['hanno']

'moving-at-great-speed'

In [4]:
my_house = (123.343, 12.55)
my_new_house = (12.87, 12.3)

In [5]:
my_house = {'x': 123.3, 'y': 123.3}

In [6]:
my_house['x']

123.3

In [7]:
names = ['sven', 'hanno']

In [8]:
class_data = {'sven': {'age': 27, 'weight': 128}}

In [9]:
import pandas as pd

In [10]:
pd.DataFrame({'name': ['sven', 'hanno'], 'age': [27, 28], 'weight': [128, 178]})

    name  age  weight
0   sven   27     128
1  hanno   28     178

In [12]:
result = class_data['sven']

In [14]:
result['age']

27

In [15]:
class_data['sven']['age']

27